.applicationForm {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    width: 60%;
    border-radius: 32px;
    overflow: hidden;
}

.allInputFields {
    display: flex;
    flex-direction: row;
}

.smallInput {
    display: flex;
}

.react-datepicker__input-container input {
  width: 100%;
  box-sizing: border-box;
}

.AdmissionsInput {
    padding: 1.5rem;
    flex: 1;
}

.react-datepicker__calendar-icon {
    display: none;
    visibility: hidden;
}

.DragDropArea {
    border: 1px dotted black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    backdrop-filter: blur(12px);
}

.DragDropArea button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background-color: #BACDDB;
    border-radius: 10px;
}

.ContactUsSendButton {
    height: 80px;
    width: 100%;
    font-size: 15px;
    border: 1px solid black;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.ContactUsSendButton2 {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 1024px) {
    .applicationForm {
        flex-direction: column;
        gap: 0rem;
    }

    .allInputFields {
        flex-direction: column;
    }

    .admissions-text-area {
        min-height: 12rem;
    }

    .ContactUsSendButton1 {
        display: none;
        visibility: hidden;
    }

    .ContactUsSendButton2 {
        display: block;
        visibility: visible;
    }

    .applicationForm {
        width: 90%;
    }
}