.Admissions {
    padding-top: 80px;
}

.AdmissionsTitle {
    text-align: center;
    font-size: 120px;
}

@media screen and (max-width: 1024px) {
    .AdmissionsTitle {
        font-size: 80px;
    }
}