
.ContactUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 3rem;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
}

.ContactUsInfo {
    font-size: 17px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .ContactUs {
        flex-direction: column;
        align-items: center;
    }
}