#Home {
    display: flex;
    flex-direction: column;
    background: url('/public/images/titlephoto.jpg') center/cover;
    background-position: center;
    padding: 3%;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.titleAreaPMessage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.messageTitle {
    font-size: 2rem;
    font-weight: 400;
}

.companyName {
    font-stretch: expanded;
    font-size: 7rem;
    padding-right: 10%;
    font-weight: 500;
}

.smallText {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
    padding-top: 1rem;
}

.kidsImages {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    object-fit: cover;
    padding: 4px;
    margin-bottom: 60px;
    margin-top: 240px;
}

.teacherImages {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -30px;
}



.aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2525251d;
    border-radius: 12px;
    backdrop-filter: blur(100px);
    width: 100%;
    height: 700px;
    padding: 40px;
}

.aboutUsTitle {
    color: white;
    font-size: larger;
    font-stretch: expanded;
}

.aboutUsTeacherArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.daycareData {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 40px;
}

.daycareDataTitle {
    font-size: 5rem;
    font-weight: 400;
    color: white;
}

.expertsTitle {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.programs {
    margin-top: 5rem;
}

.programsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}