.backGround {
    background: url('/public/images/titlephoto.jpg') center/cover;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 185vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.home {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.smallText {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1rem;
    padding-top: 1rem;
}

.programsTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}