#VisitUs {
    background: url('/public/images/visitusphotos/VisitUsBG3.avif') center/cover;
    padding: 1%;
    background-repeat: no-repeat;
    height: 100vh;
}

#VisitUs h1, p {
    font-family: "Public Sans";
    font-weight: bold;
}

#leftCol {
    padding-right: 500px;
}

#rightCol{
    justify-content: right;

}

.pageName {
    font-size: 7rem;
    padding-right: 10%;
    font-weight: 500;
    color: white;
}

.container {
    display: inline-flex;
}

.columnContainer {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 2%;
}

.textContainer {
    max-width: 40dvw;
    padding-bottom: 100px;
}

.mediumText {
    font-size: 35px;
    padding-top: 1rem;
    color: white;
}

p#address {
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
}

span#address {
    font-weight: bold;
    color: #EEF5FF;
}


.roundedBox1 {
    background-color: rgba(146, 199, 207, 0.8); 
    border-radius: 20px; /* Adjust the border-radius for the desired level of roundness */
    padding: 30px; /* Adjust the padding for spacing inside the box */
    box-shadow: 0 4px 8px rgba(111, 227, 113, 0.7); /* Add a subtle box shadow for depth */
    border: 10px solid #F6F7C4;
    /* Center the text */
    display: grid;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: auto;
    padding: 30px;
}

.roundedBox2 {
    background-color: #F6F4EB;
    border-radius: 30px; /* Adjust the border-radius for the desired level of roundness */
    padding: 20px; /* Adjust the padding for spacing inside the box */
    box-shadow: 0 4px 8px rgba(111, 227, 113, 0.7); /* Add a subtle box shadow for depth */
    border: 6px solid #D2E9E9;
    /* Center the text */
    display: grid;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: auto;
    padding: 30px;
}

.daycareImagesContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
}

.daycareImages {
    border-radius: 20px;
    object-fit: cover;
    padding: 4px;
    width: 350px;
    height: 350px;
}

.daycareImages:first-child {
    margin-top: 120px; /* Adjust the top margin as needed */
}

.daycareImages:last-child {
    margin-top: 120px; /* Adjust the bottom margin as needed */
}

.messageForm {
    display: flex;
    flex-direction: column;
}

#messageName, #messageEmail {
    width: 300px;
}

#messageMessage {
    width: 400px;
    height: 150px;
}

.messageForm input {
    width: 200px;
    padding: 8px;
    margin-bottom: 16px;
    border: 6px solid #F7EFE5;
    background-color: #AEDEFC;
    border-radius: 4px;
    width: 100%;
}







