#VisitUs {
    background: url('/public/images/visitusphotos/visitUsBG2.jpg') center/cover;
    padding: 3%;
    background-repeat: no-repeat;
    height: 100vh;
}

.messageForm {
    display: flex;
    flex-direction: column;
}

#messageName, #messageEmail {
    width: 300px;
}

#messageMessage {
    width: 400px;
    height: 150px;
}

.messageForm input {
    width: 200px;
    padding: 8px;
    margin-bottom: 16px;
    border: 6px solid #F7EFE5;
    background-color: #AEDEFC;
    border-radius: 4px;
    width: 100%;
}

.contentContainer {
    display: flex;  /* Use flexbox to enable flexible layout */
    flex-direction: row;  /* Arrange items horizontally */
    justify-content: space-between;  /* Create space between items */
}

.textContainer {
    max-width: 30vw;
}

.daycareImagesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.daycareImages {
    border-radius: 20px;
    object-fit: cover;
    padding: 4px;
    width: 350px;
    height: 350px;
}

.daycareImages:first-child {
    margin-top: 120px; /* Adjust the top margin as needed */
}

.daycareImages:last-child {
    margin-top: 120px; /* Adjust the bottom margin as needed */
}

.columnContainer {
    display: inline;
}

.pageName {
    font-size: 7rem;
    padding-right: 10%;
    font-weight: 500;
    color: white;
}

.mediumText {
    font-size: 25px;
    font-weight: bold;
    padding-top: 1rem;
    color: white;
}

p#address {
    font-size: 20px;
    color: #363062;
    padding-bottom: 10px;
}

span#address {
    color: #A9B388;
}


.roundedBox {
    background-color: #F6F4EB;
    border-radius: 10px; /* Adjust the border-radius for the desired level of roundness */
    padding: 20px; /* Adjust the padding for spacing inside the box */
    box-shadow: 0 4px 8px rgba(111, 227, 113, 0.7); /* Add a subtle box shadow for depth */
    border: 6px solid #D2E9E9;
    /* Center the text */
    display: grid;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: auto;
    padding: 30px;
}



