.progInfoMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 2rem;
}

.progTitle {
    font-size: 80px;
    font-weight: 600;
}

.progDesc {
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px;
}

.infoM {
    flex: 1;
    display: block;
    width: 33%;
    border-radius: 10px;
    object-fit: cover;
    transition: all .1s ease;
}

.infoL {
    width: 33%;
}

.infoR {
    width: 33%;
}

.infoH {
    border-radius: 10px;
    object-fit: cover;
    visibility: hidden;
    display: none;
    height: 40vh;
}

.miles {
    overflow: hidden;
    opacity: 0;
    max-height: 50px;
    width: 0;
    position: absolute;
    font-size: 21px;
    font-weight: 600;
    padding-top: 15px;
    color: #86868b;
    transition: max-height .8s ease-out, opacity .4s ease-in .1s, position 0s ease-in;
}

.miles.active {
    opacity: 1;
    width: auto;
    height: auto;
    height: calc-size(auto);
    max-height: 300px;
    position: relative;
}

.acts {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 21px;
    color: #86868b;

}

/* Super cool trick to center image around whatever point you choose!*/
.leftImg {
    object-position: calc(50 / 540 * 100%) calc(250 / 960 * 100%);
}

@media screen and (max-width: 1064px) {
    .progTitle {
        font-size: 64px;
    }

    .miles {
        font-size: 17px;
    }

    .acts {
        font-size: 17px;
    }
}

@media screen and (max-width: 1000px) {
    .progInfoMain {
        flex-direction: column;
    }

    .progTitle {
        font-size: 40px;
    }

    .infoH {
        margin: 2rem 0;
        border-radius: 32px;
        overflow: hidden;
        width: 100%;
        visibility: visible;
        display: block;
    }

    .infoL {
        width: auto;
    }

    .leftImg {
        visibility: hidden;
        display: none;
    }

    .infoM {
        visibility: hidden;
        display: none;
    }

    .infoR {
        width: auto;
        padding-top: 3vh;
    }
}