.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    color: var(--gray);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    height: 300px;
}