.aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2525259e;
    border-radius: 12px;
    backdrop-filter: blur(100px);
    height: auto;
    padding: 40px;
}

.aboutUsTitle {
    color: white;
    font-size: larger;
    font-stretch: expanded;
}

.aboutUsTeacherArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.daycareData {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-right: 40px;
    padding-bottom: 1rem;
}

.daycareDataTitle {
    font-size: 5rem;
    font-weight: 400;
    color: white;
}

.expertsTitle {
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.teacherImages {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -30px;
}

.aboutUsTop {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding-left: 60px;
}

.aboutUsBottom {
    display: flex; 
    flex-direction: row; 
    padding-top: 80px;
    padding-left: 0px; 
    align-items: center; 
    justify-content: space-between;
    padding-left: 60px;
}

.video {
    width: 50%;
}

@media screen and (max-width: 870px) {
    .aboutUsTop {
        flex-direction: column;
        margin-top: -1rem;
    }

    .aboutUsBottom {
        flex-direction: column;
        padding-left: 0px;
        margin-left: -80px;
    }

    .aboutUsTeacherArea {
        visibility: hidden;
        display: none;
    }

    .video {
        width: 100%;
        margin-top: 2rem;
        vertical-align: middle;
    }
}