.moreDetailClicked {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.more-detail-info {
    display: block;
    font-size: 21px;
    font-weight: 600;
    padding-top: 15px;
    color: #86868b;
}