.valueCell {
    border-radius: 50px;
    height: 40vh;
    width: 40vh;
    background-size: cover;
}

.valueContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    height: 40vh;
    width: 40vh;
}