.valueCell {
    border-radius: 50px;
    height: 40vh;
    width: 40vh;
    background-image: url('../../public/images/homepagephotos/curiosity.jpg');
    background-size: cover;
}

.valueContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50px;
    height: 40vh;
    width: 40vh;
    -webkit-backdrop-filter: contrast(30%) saturate(200%);
}