.progInfo {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 50px; 
    height: 100%;
}

.infoH {
    border-radius: 10px; 
    object-fit: cover;
    visibility: hidden;
    display: none;
    height: 40vh;
}

.infoL {
    width: 31.6%;
}

.infoR {
    width: 26.6%;
}

.miles {
    padding-top: 15px;
}

.acts {
    padding-top: 15px;
}

@media screen and (max-width: 700px) {
    .progInfo {
        flex-direction: column;
    }

    .infoH {
        visibility: visible;
        display: block;
    }

    .infoL {
        width: auto;
    }

    .leftImg {
        visibility: hidden;
        display: none;
    }

    .infoM {
        visibility: hidden;
        display: none;
    }

    .infoR {
        width: auto;
    }
}