
.reviewsContainer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 23, 26);
    border-radius: 33px;
    height: 40vh;
}
  
.reviews{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 70vw;
    height: 25vh;
    margin: 30px;
}

.blurReview{
    animation: blur-layer 10s infinite
}

@keyframes blur-layer {
    0% { filter: blur(30px); }
    1% { filter: blur(1px); }
    2% { filter: blur(0px); }
    50% { filter: blur(0px); }
    98% {filter: blur(0px); }
    99% { filter: blur(1px); }
    100% { filter: blur(30px); }
}
